body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient()
     radial-gradient(circle, blue, yellow, red);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9;
    text-align: center;
    color: #fff;
}

.card h2 {
    font-size: 24px;
    margin: 0;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    color: aqua;
}  

.card p {
    font-size: 16px;
    margin: 10px 0;
    color:black;
    text-shadow: #fff 1px 1px 0;

}