body {
    background-color: gold;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: brown;
    padding: 10px;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 30px;
    padding: 30px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}